In [5]:
import pandas as pd

In [6]:
df = pd.read_parquet("/home/mutwiri/Downloads/data_course.parquet")

In [7]:
df

,course_id,course_name,course_code,course_code_desc,course_period,department_id,create_dtm,updated_dtm
0,10,Data Engineering,DE101,Data Engineering Fundamentals,4,1,2024-01-07 21:53:18.396548,None
1,11,Data Science,DS102,Data Science Fundamentals,4,2,2024-01-07 21:53:18.396548,None