In [2]:
import pandas as pd

In [6]:
df = pd.read_parquet("/home/mutwiri/Downloads/data_country.parquet")

In [7]:
df

,country_id,country_name,country_code,country_code_desc,create_dtm,updated_dtm
0,5,Uganda,UG,Republic of Kenya,2024-01-07 14:47:37.960095,2024-01-07 14:47:37.960095
1,6,Tanzania,TZ,Federal Republic of Nigeria,2024-01-07 14:47:37.960095,2024-01-07 14:47:37.960095